.tag {
  padding-inline: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  text-align: center;
  min-width: 115px;
  min-height: 25px;
  background-color: #ff6060;
}
