header {
  margin-inline: auto;
}
.headercontainer {
  padding-top: 45px;
  padding-inline: 100px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;

  .navbar {
    display: flex;
    gap: 57px;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    a:visited {
      text-decoration: none;
      color: black;
    }
  }
}
@media (width<1025px) {
  header {
    margin-inline: none;

    img {
      width: 125px;
      height: 45px;
    }
  }
  .headercontainer {
    padding-inline: 20px;
    padding-top: 20px;
    .navbar {
      font-size: 12px;
      text-transform: uppercase;
      gap: 26px;
    }
  }
}
