header {
  margin-inline: auto;
}
.headercontainer {
  padding-top: 45px;
  padding-inline: 100px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;

  .navbar {
    display: flex;
    gap: 57px;

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
