footer {
  margin-top: 50px;
  background-color: black;
  min-height: 179px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  p {
    font-size: 24px;
    font-family: "Montserrat";
    line-height: 142%;
    font-weight: 500;
    padding-top: 29px;
  }
}
